{% extends 'base.html' %}

{% block javascript %}
    <script>
        $(function() {

            /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */ 
            $('#id_file').change(function() {
                // 
            });

            /* SCRIPTS TO HANDLE THE CROPPER BOX */
            var $image = $("#image");
            // 

            /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */ 
            $(".js-crop-and-upload").click(function() {
                // 
            })

        })
    </script>
{% endblock %}

{% block content %}
    <form action="POST" enctype="multipart/form-data" id="formUpload">
        {% csrf_token %}
        {{form}}
    </form>

    <div class="modal fade" id="modalCrop">

    </div>

    <div class="row" style="margin-top: 20px;">
    
    </div>
{% endblock %}